<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Dryer is Done</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link <%= home %>" href="/">Home <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link <%= login %>" href="/login">Log in</a> 
        <a class="nav-item nav-link <%= signup %>" href="/signup">Sign up</a> 
        <!-- what about sign up?? TODO: make only one of log in / sign up appear later, based on if the user is logged in or not -->
        <!-- <a class="nav-item nav-link" href="#">Washers and Dryers</a> -->
      </div>
    </div>
</nav>