<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-4" href="/">Dryer is Done</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link <%= home %>" href="/">Home</a>
        </li>
        
        <% if (!locals.logged_in) { %>
          <li class="nav-item">
            <a class="nav-link <%= login %>" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= signup %>" href="/signup">Sign up</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-item dropdown nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
              <!-- TODO: the dropdown does not work right now. Is it because of jquery, or something else? -->
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/reset">Reset Password</a>
              <a class="dropdown-item" href="/changepass">Change Password</a>
            </div>
          </li>
          <% } %>
      </ul>
    </div>
</nav>