<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header', { title: 'Change Password' }) %>
</head>
<body>
    <%- include('./partials/nav', { home: '', login: '', signup: '', logged_in: true }) %> 
    <div class="container">
        <form action="/changepass" method="POST" class="form my-4">
            <label for="email" class="visually-hidden">Email: </label><input placeholder="Email" type="email" name="email" value="<%= user_info.email %>" required><br />
            <label for="oldpassword" class="visually-hidden">Old Password: </label><input placeholder="Old Password" type="password" name="password" required><br />
            <label for="newpassword" class="visually-hidden">New Password: </label><input placeholder="New Password" type="password" name="newpassword" required>
            <button type="submit" class="btn btn-outline-success mx-2 btn-sm">Change Password</button>
        </form>
    </div>
    <%- include('./partials/bootstrap') %>
</body>
</html>