<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header', { title: 'Home' }) %>
</head>
<body>
    <%- include('./partials/nav', { home: 'active', login: '', signup: '', logged_in: logged_in }) %> 
    <div class="container">
        <% if (logged_in) { %>
            <h1>Welcome, <%= user_info.name %>!</h1>
            <p>International house washer and dryer status: </p>
              <div class="row my-4">
                <div class="col-sm-6">
                  <div class="card my-4 mx-2">
                    <div class="card-body">
                      <h5 class="card-title">Washer #1</h5>
                      <p class="card-text">Status: 
                      <% if (locals.washer_available) { %>
                        <span class="badge badge-success">Available</span>
                      <% } else { %>
                        <span class="badge badge-danger">In use</span>
                      <% } %>
                      </p>
                      <% if (locals.washer_available) { %>
                        <a href="/useWasher" class="btn btn-primary">Use Washer</a>
                      <% } else { %>
                        <a href="#" class="btn btn-primary disabled">Use Washer</a>
                      <% } %>
                      <!-- <a href="#" class="btn btn-primary">Notify me when done</a> -->
                      <!-- TODO: add a "poke user" option to send an email to the current user of the washer/dryer! -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card my-4 mx-2">
                    <div class="card-body">
                      <h5 class="card-title">Dryer #1</h5>
                      <p class="card-text">Status: 
                      <% if (locals.dryer_available) { %>
                        <span class="badge badge-success">Available</span>
                      <% } else { %>
                        <span class="badge badge-danger">In use</span>
                      <% } %> <!-- TODO: add info about the user who is using the dryer, and so on... -->
                      </p>
                      <% if (locals.dryer_available) { %>
                        <a href="/useDryer" class="btn btn-primary">Use Dryer</a>
                      <% } else { %>
                        <a href="#" class="btn btn-primary disabled">Use Dryer</a>
                      <% } %>
                      <!-- <a href="#" class="btn btn-primary">Notify me when done</a> -> is this a big ask? -->
                      <!-- TODO: add a "poke user" option to send an email to the current user of the washer/dryer! -->
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- TODO: debugging code, remove later -->
              <label>TODO: For testing purpose only:</label><br />
              <a href="/debugWasher">Switch Washer Status</a><br />
              <a href="/debugDryer">Switch Dryer Status</a>
              <!-- TODO: debugging code, remove later -->

              <!--  all code for when the user is logged in goes here. All user information can be found in 
                  the user_info object -->
        <% } else { %>
            <h1>Welcome!</h1>
            <p>This website displays current status of the washers and dryers present in the International House at Tufts University.</p>
            <p>You are not logged in. Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to continue.</p>
        <% } %>
    </div>
    <%- include('./partials/bootstrap') %>
</body>
</html>