<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header', { title: 'Home' }) %>
</head>
<body>
    <%- include('./partials/nav', { home: 'active', login: '', signup: '', logged_in: logged_in }) %> 
    <div class="container">
        <% if (logged_in) { %>
            <h1>Welcome, <%= user_info.name %>!</h1>
            <!--  all code for when the user is logged in goes here. All user information can be found in 
                  the user_info object -->
            <!-- This particular section is the main section that should display all washer and dryer details + info specific to the logged in user -->
            <!-- TODO: have to add a link to change password somewhere....(only when the user is logged in) -->
            <!-- Plan: Add a custom settings page where they can reset or change their password -->
        <% } else { %>
            <h1>Welcome! </h1>
            <p>You are not logged in. Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to continue.</p>
            <!--  all code for when the user is not logged in goes here. Ask the user to log in or sign up with the link to the respective form -->
        <% } %>
    </div>
    <%- include('./partials/bootstrap') %>
</body>
</html>