<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dryer is Done!</title>
</head>
<body>
    <h2>Hello world</h2>
    <!-- This will contain a link to log in / sign up -->
    <!-- // TODO: make the name, email, and password fields required in ejs file (in both log in and sign up forms)
        // TODO: add a "reset password" functionality -->
</body>
</html>