<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header', { title: 'Reset Password' }) %>
</head>
<body>
    <%- include('./partials/nav', { home: '', login: '', signup: '' }) %> 
    <div class="container">
        <p>Enter the email that you used to sign up. 
            If your email exists in our database, we will send you an email with your new password. 
            Please check your spam/junk folder if you do not receive an email within 5 minutes.</p>
        <form action='/reset' method="POST" class="form my-4">
            <label for="email" class="sr-only">Email:</label>
            <input type="email" placeholder="Email" required name="email">
            <button type="submit" name="reset" class="btn btn-outline-primary btn-sm">Reset</button>
        </form>
        <% if (!logged_in) { %>
            <a href="/signup">Need to create an account? Sign up.</a><br />
            <a href="/login">Already have an account? Log in.</a><br />
        <% } %>
    </div>
    <%- include('./partials/bootstrap') %>
</body>
</html>