<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action='/reset' method="POST">
        <label for="email" class="visually-hidden">Email:</label>
        <input type="email" placeholder="Email" required name="email">
        <button type="submit" name="reset">Reset</button>
    </form>
</body>
</html>